@import '../abstract/variables';

.about{
    font-weight: 600;
    text-align: center;
    padding: 6rem 20rem;
    span{
        color:$red;
    }
    h2{
        font-size: 3rem;
        color:$black;
        margin: 1.5rem 0;
    }
    p{
        font-weight: 400;
        font-size: 1.25rem;
        color: $gray;
    }
}